<div class="projects-container">
    <div class="mb-4 p-8 flex items-center justify-center">
        <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
            <ng-template #header>
                <img alt="Card" class="w-full" src="" />
            </ng-template>
            <ng-template #title> Advanced Card </ng-template>
            <ng-template #subtitle> Card subtitle </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
            </p>
        </p-card>
    </div>
</div>