<div id="contact-section" class="w-full bg-gray-900 text-gray-300 py-6">
    <section class="p-6">
        <div class="grid grid-cols-1 md:grid-cols-5 gap-8 text-center md:text-left">
            <div class="col-span-2 max-w-lg w-full mx-auto">
                <h4 class="text-lg font-semibold uppercase mb-4 text-center">{{ 'CONTACT.TITLE' | translate }}</h4>
                <ul class="space-y-2">
                    <li class="contact-item">
                        <img src="/assets/svg/email.svg" alt="email" class="contact-item-icon">
                        <div>
                            <p class="text-2xl mb-11">{{ 'CONTACT.EMAIL' | translate }}</p>
                        </div>
                    </li>
                    <li class="contact-item">
                        <img src="/assets/svg/phone.svg" alt="phone" class="contact-item-icon">
                        <p class="text-2xl">{{ 'CONTACT.PHONE' | translate }}</p>
                    </li>
                </ul>
            </div>
            <div class="col-span-3 max-w-lg w-full mx-auto ml-5">
                <form [formGroup]="form" (ngSubmit)="send()"
                    class="bg-gray-800 p-6 rounded-lg shadow-lg border border-gray-500">
                    <h1 class="text-gray-200 text-xl mb-4 font-semibold text-center">{{ 'CONTACT.FORM.TITLE' | translate
                        }}</h1>
                    <div class="relative mb-4">
                        <label for="name" class="text-sm text-gray-400">{{ 'CONTACT.FORM.NAME' | translate }}</label>
                        <input formControlName="name" type="text" id="name" name="name"
                            class="w-full bg-gray-700 border border-gray-500 text-gray-300 rounded-lg py-3 px-4" />
                    </div>
                    <div class="relative mb-4">
                        <label for="email" class="text-sm text-gray-400">{{ 'CONTACT.FORM.EMAIL' | translate }}</label>
                        <input formControlName="email" type="email" id="email" name="email"
                            class="w-full bg-gray-700 border border-gray-500 text-gray-300 rounded-lg py-3 px-4" />
                    </div>
                    <div class="relative mb-4">
                        <label for="message" class="text-sm text-gray-400">{{ 'CONTACT.FORM.MESSAGE' | translate
                            }}</label>
                        <textarea formControlName="message" id="message" name="message"
                            class="w-full bg-gray-700 border border-gray-500 text-gray-300 rounded-lg py-3 px-4 h-32 resize-none"></textarea>
                    </div>
                    <button type="submit"
                        class="w-full bg-gray-700 hover:bg-gray-600 text-white font-medium py-3 rounded-lg">
                        {{ 'CONTACT.FORM.SEND_BUTTON' | translate }}
                    </button>
                </form>
            </div>
        </div>
    </section>

    <hr class="border-gray-600 my-6 mx-auto w-4/5">

    <section class="p-6">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="text-lg text-center">&copy; 2025 {{ 'CONTACT.FOOTER' | translate }}</div>
            <div class="privacy-policy">
                <button (click)="showPrivacyDialog()">{{ 'CONTACT.PRIVACY_POLICY.TITLE' | translate }}</button>
                <p-dialog header="{{ 'CONTACT.PRIVACY_POLICY.TITLE' | translate }}" [modal]="true" [(visible)]="privacyVisible"
                    [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
                    <p class="mb-8">{{ privacyPolicyContent }}</p> <!-- Dynamically loaded content -->
                </p-dialog>
            </div>
            
            <div class="terms-and-conditions">
                <button (click)="showTermsDialog()">{{ 'CONTACT.TERMS_CONDITIONS.TITLE' | translate }}</button>
                <p-dialog header="{{ 'CONTACT.TERMS_CONDITIONS.TITLE' | translate }}" [modal]="true" [(visible)]="termsVisible"
                    [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
                    <p class="mb-8">{{ termsConditionsContent }}</p> <!-- Dynamically loaded content -->
                </p-dialog>
            </div>
        </div>
    </section>
</div>
<p-toast />