@media (max-width:2560px) {
    .contact-item {
        display: flex;
    }

    .contact-item-icon {
        margin-right: 20px;
        width: 60px;
        height: 60px;
    }
    .terms-and-conditions ul li {
        list-style: decimal;
        ul li{
            list-style: none;
          }
      }
    

    
}