<div class="flex flex-col md:grid md:grid-cols-1 lg:grid-cols-1 gap-4 relative mobile-contents"
  [ngClass]="{ 'pt-20': isMenuOpen }">

  <div class="p-4 flex justify-between md:hidden items-center">
    <button (click)="toggleMenu()" class="text-3xl focus:outline-none">
      <span [ngClass]="{ 'hidden': isMenuOpen }">☰</span>
      <span [ngClass]="{ 'hidden': !isMenuOpen }">✖</span>
    </button>
    <img [src]="theme === 'dark' ? 'assets/img/logo-white.png' : 'assets/img/logo-black.png'" alt="Logo" class="h-10">
  </div>

  <div class="hidden md:flex justify-between items-center p-4 w-full">
    <img [src]="theme === 'dark' ? 'assets/img/logo-white.png' : 'assets/img/logo-black.png'" alt="Logo" class="h-12">
    <div class="flex justify-center space-x-2 p-4 w-full">
      <button class="bg-gray-200 hover:bg-gray-300 text-black px-4 py-1 rounded shadow-md" (click)="scrollToAboutUs()">
        {{ 'HERO.ABOUT_US_BUTTON' | translate }}
      </button>
      <button class="bg-gray-200 hover:bg-gray-300 text-black px-4 py-1 rounded shadow-md" (click)="scrollToServices()">
        {{ 'HERO.SERVICES_BUTTON' | translate }}
      </button>
      <button class="bg-gray-200 hover:bg-gray-300 text-black px-4 py-1 rounded shadow-md" (click)="scrollToProjects()">
        {{ 'HERO.PROJECTS_BUTTON' | translate }}
      </button>
      <button type="button"
        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-1 px-4 rounded shadow-md transition"
        (click)="scrollToContact()">
        {{ 'HERO.CONTACT_BUTTON' | translate }}
      </button>
      <button class="bg-gray-200 hover:bg-gray-300 text-black px-4 py-1 rounded shadow-md"
        (click)="changeLanguage('kz')">
        🇰🇿 KZ
      </button>
      <button class="bg-gray-200 hover:bg-gray-300 text-black px-4 py-1 rounded shadow-md"
        (click)="changeLanguage('ru')">
        🇷🇺 RU
      </button>
      <button class="bg-gray-200 hover:bg-gray-300 text-black px-4 py-1 rounded shadow-md"
        (click)="changeLanguage('en')">
        🇬🇧 EN
      </button>
    </div>
  </div>

  <div *ngIf="isMenuOpen" class="absolute top-14 left-0 w-full shadow-md md:hidden z-50 p-4">
    <div class="flex flex-col items-center space-y-2">
      <button class="bg-gray-200 hover:bg-gray-300 text-black px-4 py-2 rounded shadow-md w-full"
        (click)="scrollToAboutUs(); toggleMenu()">
        {{ 'HERO.ABOUT_US_BUTTON' | translate }}
      </button>
      <button class="bg-gray-200 hover:bg-gray-300 text-black px-4 py-2 rounded shadow-md w-full"
        (click)="scrollToServices(); toggleMenu()">
        {{ 'HERO.SERVICES_BUTTON' | translate }}
      </button>
      <button class="bg-gray-200 hover:bg-gray-300 text-black px-4 py-2 rounded shadow-md w-full"
        (click)="scrollToProjects(); toggleMenu()">
        {{ 'HERO.PROJECTS_BUTTON' | translate }}
      </button>
      <button type="button"
        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded shadow-md transition w-full"
        (click)="scrollToContact(); toggleMenu()">
        {{ 'HERO.CONTACT_BUTTON' | translate }}
      </button>
      <button class="bg-gray-200 hover:bg-gray-300 text-black px-4 py-2 rounded shadow-md w-full"
        (click)="changeLanguage('kz'); toggleMenu()">
        🇰🇿 KZ
      </button>
      <button class="bg-gray-200 hover:bg-gray-300 text-black px-4 py-2 rounded shadow-md w-full"
        (click)="changeLanguage('ru'); toggleMenu()">
        🇷🇺 RU
      </button>
      <button class="bg-gray-200 hover:bg-gray-300 text-black px-4 py-2 rounded shadow-md w-full"
        (click)="changeLanguage('en'); toggleMenu()">
        🇬🇧 EN
      </button>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center p-6"
    [ngClass]="{ 'pt-[85%]': isMenuOpen, 'pt-0': !isMenuOpen }">

    <div class="text-center md:text-left flex items-center h-full">
      <section class="w-full">
        <span [ngClass]="theme === 'dark' ? 'text-white' : 'text-black'"
          class="block text-3xl md:text-6xl font-bold mb-1">
          {{ 'HERO.TITLE' | translate }}
        </span>
        <div class="text-4xl md:text-6xl text-blue-500 font-bold mb-3">
          {{ 'HERO.SUBTITLE' | translate }}
        </div>
        <p [ngClass]="theme === 'dark' ? 'text-white' : 'text-black'"
          class="mt-0 mb-4 leading-relaxed text-xl md:text-2xl">
          {{ 'HERO.DESCRIPTION' | translate }}
        </p>
        <button type="button"
          class="mr-3 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded shadow-md transition"
          (click)="scrollToContact()">
          {{ 'HERO.CONTACT_BUTTON' | translate }}
        </button>
      </section>
    </div>

    <div class="relative hidden md:block h-full">
      <picture>
        <source srcset="assets/img/tablet-hero.jpg" media="(max-width: 1024px)" />
        <img src="assets/img/hero-2.png" alt="Image"
          class="md:ml-auto block md:h-full w-full object-cover clip-path-hero"
          style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%); height: 100%;" />
      </picture>
    </div>
  </div>
</div>