<div class="about-us-container w-full grid grid-cols-1 gap-10 mt-[10vh] md:gap-20">
    <div class="about-us-text flex flex-col items-center md:items-start text-center md:text-left px-8 md:px-20">
        <div class="w-[100px] h-[100px] aspect-square mb-4">
            <img src="/assets/svg/about-us.svg" alt="{{ 'ABOUT_US.TITLE' | translate }}" class="w-full h-full object-contain">
        </div>
        <div>
            <h2 class="text-3xl font-semibold">{{ 'ABOUT_US.TITLE' | translate }}</h2>
            <p class="mt-4 text-2xl">
                {{ 'ABOUT_US.DESCRIPTION' | translate }}
            </p>
        </div>
    </div>
    <div class="about-us-additional-info grid grid-cols-1 md:grid-cols-2 gap-10 px-8 md:px-20">
        
        <div class="about-us-mission flex flex-col items-center md:items-start text-center md:text-left">
            <div class="w-[100px] h-[100px] aspect-square mb-4">
                <img src="/assets/svg/mission1.svg" alt="{{ 'ABOUT_US.MISSION.TITLE' | translate }}" class="w-full h-full object-contain">
            </div>
            <div>
                <h3 class="text-3xl font-semibold">{{ 'ABOUT_US.MISSION.TITLE' | translate }}</h3>
                <p class="mt-4 text-2xl">
                    {{ 'ABOUT_US.MISSION.DESCRIPTION' | translate }}
                </p>
                <ul class="list-disc pl-5 space-y-2 text-xl">
                    <li *ngFor="let point of missionPoints">
                        {{ point }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="about-us-vision flex flex-col items-center md:items-start text-center md:text-left">
            <div class="w-[100px] h-[100px] aspect-square mb-4">
                <img src="/assets/svg/vision.svg" alt="{{ 'ABOUT_US.VISION.TITLE' | translate }}" class="w-full h-full object-contain">
            </div>
            <div>
                <h3 class="text-3xl font-semibold">{{ 'ABOUT_US.VISION.TITLE' | translate }}</h3>
                <p class="mt-4 text-2xl">
                    {{ 'ABOUT_US.VISION.DESCRIPTION' | translate }}
                </p>
            </div>
        </div>
    </div>
</div>
