<div class="about-us-container">
    <div class="about-us-text">
        <h3>About us</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum cum nesciunt quod ad dolore, at obcaecati
            illum minima nisi harum amet. Aliquam, eveniet non officiis officia obcaecati animi itaque, cumque
            corporis soluta sit dolorum mollitia repudiandae eligendi facere? Odio vel ea delectus minus possimus
            animi iste eaque voluptates placeat. Eius!</p>
    </div>
    <div class="about-us-additional-info">
        <div class="about-us-mission">
            <h3>Our mission</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque ad qui est deleniti, officiis eaque
                ea impedit, animi molestiae omnis molestias tenetur voluptatum quod facere magni repellat, asperiores at
                voluptas?</p>
        </div>
        <div class="about-us-vision">
            <h3>Our vision</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, suscipit optio a consequatur sint
                eveniet dolores voluptas excepturi aut? Reprehenderit ut minus commodi unde deserunt totam sit, magnam
                non odio?</p>
        </div>
    </div>
</div>