<div class="about-us-container grid grid-cols-1 md:grid-cols-2 gap-10 mt-[10vh]">
    <div class="about-us-text ml-8 flex">
        <div class="mr-7">
            <img src="/assets/svg/about-us.svg" alt="" class="md:w-[150px] w-full">
        </div>
        <div>
            <h2 class="text-2xl font-semibold">About us</h2>
            <p class="mt-4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum cum nesciunt quod ad dolore, at obcaecati
                illum minima nisi harum amet. Aliquam, eveniet non officiis officia obcaecati animi itaque, cumque
                corporis soluta sit dolorum mollitia repudiandae eligendi facere? Odio vel ea delectus minus possimus
                animi iste eaque voluptates placeat. Eius!
            </p>
        </div>
    </div>
    <div class="about-us-additional-info flex flex-col justify-center w-7/10">
        <div class="about-us-mission pb-10 flex">
            <div class="mr-7">
                <img src="/assets/svg/mission1.svg" alt="" class="md:w-[100px]  w-full">
            </div>
            <div>
                <h3 class="text-3xl font-semibold">Our mission</h3>
                <p class="mt-4">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque ad qui est deleniti, officiis
                    eaque
                    ea impedit, animi molestiae omnis molestias tenetur voluptatum quod facere magni repellat,
                    asperiores at
                    voluptas?
                </p>
            </div>
        </div>
        <div class="about-us-vision pb-10 flex">
            <div class="mr-7">
                <img src="/assets/svg/vision.svg" alt="" class="md:w-[100px]  w-full">
            </div>
            <div>
                <h3 class="text-3xl font-semibold">Our vision</h3>
                <p class="mt-4">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, suscipit optio a consequatur sint
                    eveniet dolores voluptas excepturi aut? Reprehenderit ut minus commodi unde deserunt totam sit,
                    magnam
                    non odio?
                </p>
            </div>
        </div>
    </div>
</div>
