@media (max-width:2560px) {
    :host{
        color: aliceblue;
    }
    .jumbotron-container{
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 17%, rgba(141,141,143,1) 46%, rgba(1,29,34,1) 67%, rgba(1,29,34,1) 78%);
    }
}