<div class="accordion-container grid grid-cols-1 lg:grid-cols-1 xl:grid-cols-1">
    <h2 class="text-3xl font-bold text-center mb-8 col-span-full">
        {{ 'SERVICES.TITLE' | translate }}
    </h2>
    <p class="text-center text-2xl">
        <strong>{{ 'SERVICES.DESCRIPTION' | translate }}</strong>
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-full">
        <div *ngFor="let item of items" class="bg-white shadow-lg rounded-lg overflow-hidden flex flex-col">
            <img [src]="item.imgSrc" [alt]="item.alt" class="w-full h-48 object-cover">
            <div class="p-6 flex-grow">
                <h3 class="text-xl font-semibold mb-2">
                    {{ item.title | translate }}
                </h3>
                <p class="text-gray-600 text-xl">
                    {{ item.text | translate }}
                </p>
            </div>
            <div class="flex justify-center p-4">
                <button type="button"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded shadow-md transition"
                    (click)="showDialog(item)">
                    {{ 'SERVICES.SHOW_BUTTON' | translate }}
                </button>
            </div>
        </div>
    </div>
    <p-dialog header="{{ 'SERVICES.DETAILS_TITLE' | translate }}" [modal]="true" [(visible)]="visible"
        [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
        <h3 class="text-xl font-bold">{{ selectedItem?.title | translate }}</h3>
        <p>
            {{ selectedItem?.text | translate }}
        </p>
    </p-dialog>
</div>
